.gallery{
	margin-top: 50px;
	z-index: -1;
}
.row{
	margin-top: 30px;
}
.img-thumbnail{
	width: 100%;
	height: 200px;
}
#modal{
	display: none;
	z-index: 10;
	position: absolute;	
	width: 100%;
	height: 100%;
//	background-color: red;
}
